.fungal-shift:nth-child(even) {
  background-color: hsla(var(--b2)/var(--tw-bg-opacity,1));
}
.perk > img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
.perk-active {
  background-color: hsla(var(--a)/var(--tw-bg-opacity,1));
}
.biome-modifier {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
.biome-modifier:nth-child(even) {
  background-color: hsla(var(--b2)/var(--tw-bg-opacity,1));
}
.lbl-holding-flask {
  padding-top: 0;
  padding-bottom: 0;
}