.fungal-shift:nth-child(even) {
  background-color: hsla(var(--b2)/var(--tw-bg-opacity,1));
}
.perk > img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
.perk-active {
  background-color: hsla(var(--a)/var(--tw-bg-opacity,1));
}
.perk-reroll {
  background: url('img/perk_reroll.png') center -17px/contain no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  user-select: none;
}
.biome-modifier {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
.biome-modifier:nth-child(even) {
  background-color: hsla(var(--b2)/var(--tw-bg-opacity,1));
}
.lbl-holding-flask {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .seed-criteria {
    display: block;
  }
  td.seed-critera-left {
    padding-right: 0.25rem;
  }
  td.seed-critera-middle {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  td.seed-critera-right {
    padding-left: 0.25rem;
  }
}